Subject: Welcome to the cosmic.voyage!

Welcome ~newusername,

Your new account has been established. you can ssh into cosmic.voyage with
the ssh key you supplied on registration.

Your password is "newpassword". please change it when you log in for
the first time. the password not used for login, but may be necessary
for other system authentication.

~tomasino
