# Cosmic Voyage

Humanity has expanded to the stars. Earth is a distant memory.

We journey into the darkness not in a great migration--as many thought--but in small communities, drifting far and traveling at relativistic speeds, dividing from each other by unfathomable distance and time. Our only connections are the thin tethers of the Quantum Entanglement Communicator (QEC). These precarious devices bridge the vast distances with near-instantaneous communication, but provide only enough bandwidth to the ancient relay hub for simple, plain-text messaging.

Here are the annals of Relay Station 001, housed at the Earth-Sun Lagrange point L4 in the SOL system. Found within are the records of transmissions from the oldest and farthest flung ships to have left Earth of old. These are pen-pal letters, reports, updates, cries for help, and calls into the darkness. What is delivered to the system is unfiltered. Some of it is intelligible. For some, common language has drifted too far for clear translation.

Due to time-debt of relativistic travel, dates of individual reports may not coincide linearly between ships. Records are stored chronologically as received at RS001 from each expedition.

## About the system

Cosmic Voyage is a tilde community based around a collaborative science-fiction universe. Users write stories as the people aboard ships, colonies, and outposts, using the only remaining free, interconnected network that unites the dispersed peoples of the stars.

=> gemini://cosmic.voyage/join.txt How to Join Cosmic Voyage
=> gemini://cosmic.voyage/log/ Complete Transmission Log
=> gemini://cosmic.voyage/ships/ Ships, Colonies, and Outposts
=> gemini://cosmic.voyage/rss.xml RSS Feed

## Most recent (20) log entries

