<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="shrink-to-fit=no,width=device-width,height=device-height,initial-scale=1,user-scalable=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">
    <!-- Rocket favicon by Adrien Coquet from the Noun Project -->
    <!-- I'm sorry you have to see JavaScript on this site, but it's here to
         enable a manual dark mode toggle. When dark mode support improves I
         can probably remove this again. -->
    <script type="text/javascript">
    var params = new URLSearchParams(window.location.search)
    var dark = params.get('dark')

    function setDark(val) {
      if (val) {
        document.body.classList.add('dark')
        if (typeof Array.from === 'function') {
          Array.from(document.querySelectorAll('a')).map( el => {
            var url = el.href
            var p = url.indexOf('?') !== -1 ? url.substr(url.indexOf('?')) : ''
            var baseURL = url.split('?')[0]
            const params = new URLSearchParams(p)
            params.append('dark', 1)
            p = params.toString()
            el.href = baseURL + (p ? '?' + p : '')
          })
        }
      } else {
        document.body.classList.remove('dark')
        if (typeof Array.from === 'function') {
          Array.from(document.querySelectorAll('a')).map( el => {
            var url = el.href
            var p = url.indexOf('?') !== -1 ? url.substr(url.indexOf('?')) : ''
            var baseURL = url.split('?')[0]
            const params = new URLSearchParams(p)
            params.delete('dark')
            p = params.toString()
            el.href = baseURL + (p ? '?' + p : '')
          })
        }
      }
    }

    window.addEventListener('DOMContentLoaded', function() {
      if (dark) {
        setDark(true)
      }
    })
    </script>
