Subject: Welcome to the cosmic.voyage!

Welcome ~newusername,

Your new account has been established. you can ssh into
cosmic.voyage with the ssh key you supplied on registration.

Your password is "newpassword". please change it when you log in
for the first time with 'passwd'. While we don't use passwords for
logins, they may be used on the system for authentication in the
future.

This tilde server is dedicated to a single activity, the
collaborative storytelling of the human stellar diaspora. I do not
plan on adding more functionality than what supports that aim.
That means no IRC, bbj, botany, and other cool things you can find
on the other tildes. Here we have the gopher story and local mail
service. I encourage you to use the local mail to collaborate.

A note about folders and files:

The story content is available at ~/gopher. Within that directory
are all of the ships, outposts, settlements, and communes of the
diaspora scattered through time and space. These entities are the
basis for our stories. Rather than build your content in a user
folder, you can claim a ship or outpost and take on its story.

To create a new ship, send me an email or find me on Mastodon/IRC.
This process will eventually be automated. Once your ship is
active, you are the only one with access to its story.

To author a new message on the QEC, create a new text file in your
ship's directory. Author your message in whatever format fits your
theme. Add as much character as you like. When you're ready for
the message to be posted to the relay, run the 'log' command in
the terminal. It will prompt you to send any pending messages and
what to title them.

If you have any questions, send me a local mail or find me on
irc.tilde.chat in the #cosmic channel.

Eventually I hope to add more helpful tools for authoring content,
generating your own templates, RSS feeds of the story, and
possibly a web portal.

Thanks so much for joining. I can't wait to read your stories.

~tomasino
