Subject: Welcome to the cosmic.voyage!

Welcome ~USERNAME,

Your new account has been established. you can ssh into
cosmic.voyage with the ssh key you supplied on registration.

Your password is "PASSWORD". please change it when you log in for
the first time with 'passwd' like so:

$ passwd

While we don't use passwords for logins, they can be used on the
system for IMAP, POP3 and SMTP. Our email on Cosmic Voyage is
limited to sending and receiving with other users here, and other
pubnix servers and the tildeverse.

This server is dedicated to the collaborative storytelling of the
human stellar diaspora. We continue to add other features over
time that are designed to support the story. For instance, we have
an IRC daemon here that connects as part of irc.tilde.chat. You
can join and visit the #cosmic room to discuss this server. New
features are often added to the interactive menu which can be
accessed by running:

$ menu

To begin contributing to Cosmic Voyage you must claim a ship,
colony, or outpost and take on its story. Claiming your ship is as
easy as running the 'ship' command in the menu, or on the command
line like so:

$ ship

You will be prompted for a name of your ship/outpost/colony.
Spaces in ship names are allowed, but please avoid using unicode
characters in the names. You can write unicode in your logs, but
the scripts don't play nice with the special characters as
filenames. Once your ship is active, you are the only one with
access to its story.

Once you have claimed your ship/outpost/colony, it will appear for
you as a directory in ~/ships/. To author a new message on the
QEC, create a new text file in your ship's directory (must end in
.txt). You can also browse to the message creation section of the
menu and create a new message there. 

Author your message in whatever format fits your theme. Add as
much character as you like. You can add fake headers as if your
ship is relaying the message through a computer system or design
some pretty ascii-art. The only important constraint on your
message is that it remains no wider than 80 columns. The website
and gopher site do not wrap your content, so long lines will
display poorly. Try to keep it neatly wrapped at 80 or fewer
columns.

When you're ready for the message to be posted to the relay, run
the 'log' command in the menu or terminal like so:

$ log

This will link to your message to the QEC (making it available to
the world to read), but the message is still totally in your
control. If you need to change something later, just edit the
file. There's no need to run log again.

Logged messages will post to gopher immediately. The website is
updated with new content every 15 minutes. The gemini capsule is
updated nightly at midnight UTC. You can force an update of the
website by running "web" or the gemini capsule by running
"gemini".

If you have any questions, send a local mail to tomasino, or
fosslinux, or join us in IRC.

Also, please consider joining the cosmic.voyage mailing list!
https://lists.tildeverse.org/postorius/lists/cosmic.lists.tildeverse.org/

Thanks so much for joining. we can't wait to read your stories.

- the admins
