Rule #1

  Don't blow up Earth unless you want everyone in your story to
  have a goatee.

Rule #2

  If someone talks about you in IRC with ---nick--- then you can't
  see it. No really. Stop seeing it.
