Silly Rules:

Rule #1

  Don't blow up Earth unless you want everyone in your story to
  have a goatee.

Rule #2

  If someone talks about you in IRC with ---nick--- then you can't
  see it. No really. Stop seeing it.

------

Real Rule:

Don't step on other people's stories with your own. It's a big
'verse and there's room for everyone. If you want to do something
major that will impact another user's story, talk first.

