<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="shrink-to-fit=no,width=device-width,height=device-height,initial-scale=1,user-scalable=1">
    <meta name=msapplication-TileColor content=#ffffff>
    <meta name=theme-color content=#ffffff>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
    <style>
      body, html {
        color: rgb(62, 231, 123);
        background-color: #000;
        font-size: 12px;
      }

      a, a:visited, a:hover, a:active {
        text-decoration: none;
        font-weight: bold;
        color: rgb(62, 231, 123);
      }

      .page-wrapper {
        text-align: center;
      }

      .inner-wrapper {
        display: inline-block;
        text-align: left;
        white-space: pre;
        font-family: 'Inconsolata', monospace;
        margin: 0 auto;
        width: auto;
      }

      @media screen and (min-width: 700px) {
        body, html {
          font-size: 18px;
        }
      }
      @media screen and (min-width: 900px) {
        body, html {
          font-size: 24px;
        }
      }
    </style>

